/* 定义部分 */

body div p img
{
	margin: 0px;
	padding: 0px;
}

div.darkbg
{
	background-color: rgba(0,0,0,0.4)
}

div.lightbg
{
	background-color: rgba(255,255,255,0.4)
}

div.graybg
{
	background-color: rgba(144,144,144,0.4)
}

div.floatleft
{
	float: left;
}

div.floatright
{
	float: right;
}

div.marginside
{
	margin-left: 6px;
	margin-right: 6px;
}

div.marginedge
{
	margin: 6px;
}

/* 公共部分 */

div#header
{
}

div#title
{
	color: #FFF;
	font-family: Trajan Pro;
	text-align: center;
	font-size: 36px;
	padding-top: 6px;
	padding-bottom: 5px;
}
 
div#container
{
	width: 1024px;
	margin-left:auto;
	margin-right:auto;
}

div#content
{
	overflow: hidden;
}

div#navibar_top
{
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 20px 10px;
}

div#navibar_bottom
{
	margin-top: 10px;
	margin-bottom: 128px;
	padding: 20px 10px;
}

img#navi
{
	width: 213;
	height: 136;
	border: 0;
	box-shadow: 0 0 25px black;
}

/* 主页部分 */

body#index
{
	background-image: url("image/2.png");
	background-position: top center;
	background-repeat: y-repeat;
	text-align: center;
}

div#video
{
	padding-top: 83px;
	padding-bottom: 80px;
	margin: 6px;
}

/* 团队介绍 */

body#tuandui
{
	background-image: url("image/2.png");
	background-position: top center;
	background-repeat: y-repeat;
	text-align: center;
}

div#show
{
	width: 480px;
	height: 282px;
	margin: 6px;
	padding: 10px;
}

div#showtext
{
	padding: 0 10px;
	font-family: Microsoft Yahei Light;
	text-align: left;
	color: #FFF;
}

div#showimage
{
	margin: 6px;
	float: right;
}

/* 游戏特色 */

#no1
{
	position:absolute;
}

div#no1_image
{
	position: absolute;
	left: 18px;
	top: 67px;
	width: 453px;
	height: 302px;

}

div#no1_text
{
	position: absolute;
	left: 70px;
	top: 79px;
	width: 650px;
	height: 634px;
}
div#no1_par
{
	position: absolute;
	left: 10px;
	top: 458px;
	width: 626px;
	height: 142px;
}
h2.cha{
	font-size:30px;
	font-family:Microsoft Yahei;
	left:3cm;
	color:#FFF;
}
body#child
{
	background-image: url("image/2.png");
}

p.cha{
		font-size:18px;
	font-family:Microsoft Yahei;
	color:#FFF;
}

div#no2_text
{
	position: absolute;
	left: 812px;
	top: 337px;
	width: 650px;
	height: 749px;
}
div#no2_image
{
	position: absolute;
	left: 52px;
	top: 56px;
}
div#no2_par
{
	position: absolute;
	left: 46px;
	top: 533px;
}
