/* 定义部分 */

body, div, img, h1, h2, h3
{
	margin: 0px;
	padding: 0px;
	font-family: Tarjan Pro, Microsoft Yahei Light;
}

body
{
	margin: 0px;
	padding: 0px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: repeat;
}

div
{
	font-family: Tarjan Pro, Microsoft Yahei Light;
	color: #FFF;
}

p
{
	margin: 12px 0px;
	padding: 0px;
	font-family: Tarjan Pro, Microsoft Yahei Light;
	color: #FFF;
}

h1
{
	font-family: Tarjan Pro;
}

h2, h3
{
	font-family: Tarjan Pro, Microsoft Yahei;
	color: #FFF;
}

div.darkbg
{
	background-color: rgba(0,0,0,0.4)
}

div.lightbg
{
	background-color: rgba(255,255,255,0.4)
}

div.graybg
{
	background-color: rgba(144,144,144,0.4)
}

div.floatleft
{
	float: left;
}

div.floatright
{
	float: right;
}

div.marginside
{
	margin-left: 6px;
	margin-right: 6px;
}

div.marginedge
{
	margin: 6px;
}

p.indent
{
	text-indent: 2em;
}

a:link
{ 
color:#DDD; 
text-decoration:none; 
}
a:visited
{ 
color:#AAA; 
text-decoration:none; 
}
a:hover
{ 
color:#555; 
text-decoration:none; 
}
a:active
{ 
color:#000; 
text-decoration:none; 
}

form a:link,
form a:visited,
form a:active,
form a:hover
{ 
color:#FFF; 
text-decoration:none; 
}

/* 公共部分 */

div#header
{
	height: 34px;
	overflow: hidden;
	padding-bottom: 6px;
	background-image: url("image/header.png");
	background-position: bottom center;
}
 
div#container
{
	width: 1024px;
	position: relative;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
}

div#footer
{
	height: 130px;
	overflow: hidden;
	background-image: url("image/footer.png");
	background-position: top center;
}

div#header_content
{
	width: 1024px;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
	padding: 6px 0px;
}

div#header_text
{
	margin: 0px 10px;
	padding: 0px;
}

div#title
{
	color: #FFF;
	font-family: Trajan Pro;
	text-align: center;
	font-size: 36px;
	padding: 8px 0px;
	margin: 6px;
	overflow: hidden;
	white-space:nowrap;
}

div#content
{
	overflow: hidden;
}

div#navibar_top
{
	margin: 6px;
	padding: 20px 10px;
	text-align: center;
}

div#navibar_bottom
{
	margin: 6px;
	padding: 20px 10px;
	text-align: center;
}

img#navi
{
	width: 213px;
	height: 136px;
	border: 0;
	box-shadow: 0 0 25px black;
}

div#homelinkbox
{
	width: 646px;
	margin: 0px auto;
	padding-left: 50px;
}

div#homelink
{
	height: 96px;
	margin: 22px auto;
}

/* 主页部分 */

body#index
{
	background-image: url("image/2c.png");
}

div#video
{
	padding-top: 83px;
	padding-bottom: 80px;
	margin: 6px;
	text-align: center;
}

/* 团队介绍 */

body#tuandui
{
	background-image: url("image/2c.png");
}

div#show
{
	width: 480px;
	height: 282px;
	margin: 6px;
	padding: 10px;
}

div#showtext
{
	padding: 0 10px;
	font-family: Microsoft Yahei Light;
	text-align: left;
	color: #FFF;
}

div#showimage
{
	margin: 6px;
	float: right;
}

/* 评价表单 */

body#biaodan
{
	background-image: url("image/2c.png");
}

div#form
{
	overflow: auto;
	margin: 6px;
	padding: 80px 160px;
	font-family: Microsoft Yahei Light;
	font-size: 25px;
	text-align: left;
	color: #FFF;
}

#formtitle
{
	font-size: 30px;
}

#formtable
{
	font-size: 15px;
}

input
{
	font-size: 15px;
}

textarea
{
	font-size: 15px;
}

/* 游戏特色 */

body#character
{
	background-image: url("image/2c.png");
}

div#content.character_fixheight
{
	height: 1200px;
}

div#no1_image
{
	width: 453px;
	height: 302px;
	padding: 15px;
}

div#no1_text
{
	position: absolute;
	left: 70px;
	top: 79px;
	width: 650px;
	height: 634px;
}
div#no1_par
{
	width: 626px;
	height: 142px;
}
h2.cha{
	font-size:30px;
	font-family:Microsoft Yahei;
	left:3cm;
	color:#FFF;
}
body#child
{
	background-image: url("image/2c.png");
}

p.cha{
	font-size:18px;
	font-family:Microsoft Yahei;
	color:#FFF;
	padding:20px;
}

div#no2_text
{
	position: absolute;
	left: 812px;
	top: 337px;
	width: 650px;
	height: 749px;
}
div#no2_image
{
	padding:30px
}
div#no2_par
{
}

/*护甲机制*/
div#hu_text
{
	top:10px;
	
}

h3.hu
{
	font-size:24px;
	font-family:Microsoft Yahei;
	left:3cm;
	color:#FFF;
}
div#table
{
	position: absolute;
	left: 440px;
	top: 134px;
	width: 200px;
	height: 331px;
}
div#table1{
	position: absolute;
	left: 492px;
	top: 579px;
	width: 528px;
}
div#return2{
	position: absolute;
	left: 876px;
	top: 110px;
}
/*英雄介绍*/
div#huijin
{
	position: absolute;
	left: 1168px;
	top: 60px;
}
/*魔抗机制*/
div#mo_text
{
	top:10px;
}

div#mo_image1
{
	position: absolute;
	left: 278px;
	top: 317px;
}
div#return3
{
	position: absolute;
	left: 1147px;
	top: 240px;
}
/*游戏概率*/

body#gailv
{
	background-image: url("image/2c.png");
}

div#randcontent
{
	padding: 16px;
	overflow: auto;
	margin: 6px;
}

div#randtext
{
}

div#randimage
{
	margin: 6px;
}

div#return4
{
	position: absolute;
	left: 889px;
	top: 102px;
}
