/* 定义部分 */

body, div, img, h1, h2, h3
{
	margin: 0px;
	padding: 0px;
	font-family: Tarjan Pro, Microsoft Yahei;
	color: #FFF;
}

body
{
	margin: 0px;
	padding: 0px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: repeat;
}

div
{
	font-family: Tarjan Pro, Microsoft Yahei;
	color: #FFF;
}

p
{
	margin: 12px 8px;
	text-indent: 2em;
	font-family: Tarjan Pro, Microsoft Yahei;
	color: #FFF;
}

h1
{
	margin: 12px 0px;
	font-family: Tarjan Pro;
}

h2, h3
{
	font-family: Tarjan Pro, Microsoft Yahei;
	margin: 12px 0px;
	color: #FFF;
}

div.darkbg
{
	background-color: rgba(0,0,0,0.4);
	border-radius: 5px;
}

div.lightbg
{
	background-color: rgba(255,255,255,0.4);
	border-radius: 5px;
}

div.graybg
{
	background-color: rgba(144,144,144,0.4);
	border-radius: 5px;
}

div.floatleft
{
	float: left;
}

div.floatright
{
	float: right;
}

div.marginside
{
	margin-left: 6px;
	margin-right: 6px;
}

div.marginedge
{
	margin: 6px;
}

p.indent
{
	text-indent: 2em;
}

a:link
{ 
color:#DDD; 
text-decoration:none; 
}
a:visited
{ 
color:#AAA; 
text-decoration:none; 
}
a:hover
{ 
color:#555; 
text-decoration:none; 
}
a:active
{ 
color:#000; 
text-decoration:none; 
}

form a:link,
form a:visited,
form a:active,
form a:hover
{ 
color:#FFF; 
text-decoration:none; 
}

/* 公共部分 */

div#header
{
	height: 34px;
	overflow: hidden;
	padding-bottom: 6px;
	background-image: url("image/header.png");
	background-position: bottom center;
}
 
div#container
{
	width: 1024px;
	position: relative;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
	padding: 20px 0px;
}

div#footer
{
	height: 130px;
	overflow: hidden;
	background-image: url("image/footer.png");
	background-position: top center;
}

div#header_content
{
	width: 1024px;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
	padding: 6px 0px;
}

div#header_text
{
	margin: 0px 10px;
	padding: 0px;
}

div#title
{
	color: #FFF;
	font-family: Trajan Pro;
	text-align: center;
	font-size: 36px;
	padding: 8px 0px;
	margin: 6px;
	overflow: hidden;
	white-space:nowrap;
}

div#content
{
	overflow: hidden;
}

div#homelinkbox
{
	width: 646px;
	margin: 0px auto;
	padding-left: 50px;
}

div#homelink
{
	height: 96px;
	margin: 22px auto;
}

/* 滑动样式 */

div#slideshow_container
{
	margin: 6px;
	padding: 10px;
	height: 560px;
}

div#slideshow_buttonleft
{
	height: 560px;
	float: left;
	opacity: 0.5;
}

div#slideshow_buttonright
{
	height: 560px;
	float: right;
	opacity: 0.5;
}

div#slideshow_buttonleft:hover
{
	opacity: 0.8;
}

div#slideshow_buttonright:hover
{
	opacity: 0.8;
}

div#slideshow_buttonleft:active
{
	opacity: 0.8;
	background-color: rgba(0,0,0,0.5);
}

div#slideshow_buttonright:active
{
	opacity: 0.8;
	background-color: rgba(0,0,0,0.5);
}

div#slideshow_buttonleft img,
div#slideshow_buttonright img
{
	height: 560px;
}

div#slideshow_content
{
	position: relative;
	float: left;
	margin: 30px;
	padding: 6px;
	width: 780px;
	height: 540px;
	overflow: hidden;
}

div#slideshow_inner
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 8500px;
}

div#slideshow_inner div.sspage
{
	width: 720px;
	margin: 0px 30px;
	float: left;
	text-align: center;
}

div#slideshow_inner div.sspage p
{
	text-align: left;
}

/* 主页部分 */

body#index
{
	background-image: url("image/2c.png");
	height: 100%;
	overflow: hidden;
}

div#indexcontainer
{
	text-align: center;
	position: relative;
	margin: 0px;
}

div#video
{
	padding-top: 83px;
	padding-bottom: 80px;
	margin: 6px;
}

div#indextitle
{
	margin-top: 60px;
	margin-bottom: 20px;
}

/* 主页滚动样式 */

div#scrollshow_container
{
	overflow: visible;
	min-height: 410px;
	width: 100%;
	margin: 0px auto;
	position: relative;
	text-align: center;
}

div#scrollshow_container div.scrollshow_content
{
}

.sscontent
{
	position: absolute;
	opacity: 1.0;
	border: 0;
	width: 213px;
}

div#scrollshow_container img.origin
{
	width: 100%;
	box-shadow: 0 0 15px #000000;
}

div#scrollshow_container img.origin:hover
{
	width: 100%;
	box-shadow: 0 0 15px #FFFFDD;
}

div#scrollshow_container img.reflect
{
	width: 100%;
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: flipv;
    opacity: 0.5;
    filter: alpha(opacity='50');
}

/* 团队介绍 */

body#tuandui
{
	background-image: url("image/2c.png");
}

div#show
{
	width: 480px;
	height: 282px;
	margin: 6px;
	padding: 10px;
}

div#showtext
{
	padding: 0 10px;
	font-family: Microsoft Yahei;
	text-align: left;
	color: #FFF;
}

div#showimage
{
	margin: 6px;
	float: right;
}

/* 评价表单 */

body#biaodan
{
	background-image: url("image/2c.png");
}

div#form
{
	margin: 10px 6px;
	padding: 120px 160px;
	font-family: Microsoft Yahei;
	font-size: 25px;
	text-align: left;
	color: #FFF;
}

#formtitle
{
	font-size: 30px;
}

#formtable
{
	font-size: 15px;
}

input
{
	font-size: 15px;
}

textarea
{
	font-size: 15px;
}

/* 游戏特色 */

body#character
{
	background-image: url("image/2c.png");
}

div#content.character_fixheight
{
	height: 1200px;
}

div#no1_image
{
	width: 453px;
	height: 302px;
	padding: 15px;
}

div#no1_text
{
	position: absolute;
	left: 70px;
	top: 79px;
	width: 650px;
	height: 634px;
}
div#no1_par
{
	width: 626px;
	height: 142px;
}
h2.cha{
	font-size:30px;
	font-family:Microsoft Yahei;
	padding-left:10px;
	color:#FFF;
}
body#child
{
	background-image: url("image/2c.png");
}

p.cha{
	font-size:18px;
	font-family:Microsoft Yahei;
	color:#FFF;
	padding:10px;
	text-align:left;
 	text-indent:2em;
	letter-spacing:1px;
 	padding-bottom:10px;
}

div#no2_text
{
	position: absolute;
	left: 812px;
	top: 337px;
	width: 650px;
	height: 749px;
}
div#no2_image
{
	padding:30px
}
div#no2_par
{
}
div#cha_text
{
	height:2550px;
	margin:20px;
}

/*护甲机制*/
div#hu_text
{
	top:10px;
	
}
h3.hu
{
	font-size:24px;
	font-family:Microsoft Yahei;
	padding-left:20px;
	color:#FFF;
}
div#table
{
	position: absolute;
	left: 452px;
	top: 118px;
	width: 200px;
	height: 331px;
}
div#table1{
	position: absolute;
	left: 62px;
	top: 606px;
	width: 891px;
	height: 277px;
}
div#return2{
	position: absolute;
	left: 876px;
	top: 110px;
}
div#fuhujia
{
	position: absolute;
	left: 183px;
	top: 395px;
}
div#ceshi1
{
	text-align: center;
}
div.artpages
{
	text-align:center;
}
div.pagepos
{
	border-top-style:dashed;
}

a.page
{
	border-style: groove
}
/*英雄介绍*/
div#huijin
{
	position: absolute;
	left: 1168px;
	top: 60px;
}
/*魔抗机制*/
div#mo_text
{
	top:10px;
}

div#mo_image1
{
	position: absolute;
	left: 278px;
	top: 317px;
}
div#return3
{
	position: absolute;
	left: 1147px;
	top: 240px;
}
/*游戏概率*/

body#gailv
{
	background-image: url("image/2c.png");
}

div#randcontent
{
	padding: 16px;
	overflow: auto;
	margin: 6px;
}

div#randtext
{
}

div#randimage
{
	margin: 6px;
}

div#return4
{
	position: absolute;
	left: 889px;
	top: 102px;
}
